<html>
    <head>
        <style>
             body { 
                margin-left:15px;
                margin-top: 15px;
                background-color: lightsteelblue; 
                font-family: Arial;
                text-align: center;
            }
            div {
                padding: 5px;
            }

            .form-control {
                margin-left:15px;
                margin-top: 15px;
                padding:10px;
            }
        </style>
    </head>
    <body>
        <%=yield%>
    </body>
</html>