
<h1>Add a Question</h1>
<form action="/questions" method="post">
    <textarea name="question" placeholder="Question"></textarea>
    <input type="text" name="answer" placeholder="Answer">
    <input type="text" name="flag" placeholder="Flag URL">
    <input type="submit" value="Save">
</form>
