<container>
  <main role="main" class="text-center">
    <div class="container border border-secondary rounded-lg mt-3 p-3">
      <h1 class="text-center">Welcome to VetApp</h1>
      <h5> Your one and only appointment book. </h5>
    </div>
    <div><%= link_to "Patients", animals_path, class:"btn btn-primary my-2"%></div>
    <div><%= link_to "New Visit", new_visit_path, class:"btn btn-primary my-2"%></div>
  </main>
</container>