<container>
  <main role="main" class="text-center">
    <div class="container border border-secondary rounded-lg mt-3 p-3">
      <h1 class="text-center">Welcome to VetApp</h1>
      <h5> Helping Veterinarians keep track since 2019! </h5>
    </div>
  <img src="https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-ih2kijjv-national-veterinary-associates-client/g5-cl-55db5tz52-novak-animal-care-center/uploads/novak-hero-new-2.jpg" class="img-fluid" alt="Responsive image">

  </main>
</container>