<form action="/courses" method="post">
    <input type="hidden" name="id" value="<%=@course.id%>"> 
    <div>
        <input type="text" name="name" placeholder="<%=@course.name%>">
    </div>
    <div>
        <input type="text" name="location" placeholder="<%=@course.location%>">
    </div>
    <div>
        <textarea name="description"><%=@course.description%></textarea>
    </div>
    <div>
       <input type="submit" value="Save">
    </div>
</form>

