<%=form_tag(barns_path, method: "post") do %>
    <div>
        <%= text_field_tag "name",'', placeholder:'Name' %>
    </div>
    <div>
        <%= text_field_tag "owner", '',  placeholder:'Owner' %>
    </div>
    <div>
        <%= text_field_tag "location", '', placeholder:'Location' %>
    </div>
    
    <div>
        <input type="submit" value="Save">
    </div>
    
<%end%>